body {
    color: #f3f4f7;
    font-family: Cambria, "sans-serif";
    margin: 0;
    padding: 0;
}

body.index {
    background-color: #4169E1;
}

body.about {
    background-color: #E1B941;
}

body.slowrequest {
    background-color: #41E169;
}

body.time {
    background-color: #E141B9;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_content p {
    font-size: 50%;
}

.main-nav {
    display: flex;
    justify-content: center;
    font-size: 125%;
}

.main-nav ul {
    display: flex;
    gap: 25px;
}

.main-nav-items li a, .main-nav-items li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: inherit;
}


p {
    font-size: 250%;
}

#myChart {
    width: 1000px;
}

#new_time_button {
    margin: 50px;
    width: 100px;
    height: 40px;
    background-color: #41E169;
    border: 1px solid #f3f4f7;
    border-radius: 20px;
    color: #f3f4f7;
    font-family: Cambria, 'sans-serif';
    font-size: 110%;
    cursor: pointer;
}

#new_time_button:hover {
    opacity: 0.90;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
}

form button {
    margin-top: 10px;
    cursor: pointer;
}

dialog button {
    margin-bottom: 10px;
    cursor: pointer;
}

